
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: blue;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>PyCalculator</h3>
    </div>

    <!-- Form -->
    <div class="container">
      <form action="/send" method="POST">
        <label for="Number One">Enter the first number: </label>
        <input
          type="number"
          placeholder="First Number"
          class="u-full-width"
          name="x"
        />

        <label for="Number Two">Enter the second number: </label>
        <input
          type="number"
          placeholder="Second Number"
          class="u-full-width"
          name="y"
        />

        <label for="Operation">What kind of operation should be performed?</label>
        <select class="u-full-width" name="operation">
          <option value="addition">Addition</option>
          <option value="subtraction">Subtraction</option>
          <option value="multiplication">Multiplication</option>
          <option value="division">Division</option>
        </select>

        <input type="submit" value="Perform" id="calc_btn" />
        <br />
        <div class="alert">
          {{ sum }}
        </div>
      </form>
    </div>
  </body>
</html>
